%html
  %head
    %title test
    %meta{:charset => "utf-8"}
    // Bootstrap styles
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
    // Highlight.js stylesheet
    %link{:rel => "stylesheet", :href => "http://yandex.st/highlightjs/7.2/styles/default.min.css"}
    // Site stylesheet
    %link{:href => "/docs.css", :rel => "stylesheet"}
    %link{:href => "/style.css", :rel => "stylesheet"}
    %script{:src => "http://yandex.st/highlightjs/7.2/highlight.min.js"}
    %script{:src => "http://yandex.st/highlightjs/7.2/languages/java.min.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"}
    :javascript
      hljs.tabReplace = '  ';
      hljs.initHighlightingOnLoad();
  %body
    .container
      .row
        %ul.breadcrumb.si-crumbs
          - breadcrumbs_trail.each do |item|
            - if item == @item
              %li.active= item[:crumb]
            - else
              %li
                %a{:href => "#"}= item[:crumb]
                %span.divider >
      .row
        .tabbable.tabs-below
          %ul.nav.nav-tabs.si-nav
            - items = @item.children
            - items = @item.parent.children if items.length == 0
            - items.each do |item|
              - if item == @item
                %li.active
                  %a{:href => "#"} 
                    = item[:crumb]
                    %br
                    %small= item[:description]
              - else
                %li
                  %a{:href => "#"} 
                    = item[:crumb]
                    %br
                    %small= item[:crumbsub]
      = yield
